{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<h1>Profile</h1>
{% for message in messages %}
    <div>{{ message }}</div>
{% endfor %}
<p>{{ user.username }}</p>
<div id="profmid">
    {% if request.user != user %}
    {% if is_following is True %}
    <form action="{% url 'registration:unfollow' user.username %}" method="POST">
        <button type="submit" id="unfollow">アンフォロー</button>
        {% csrf_token %}
    </form>
    {% else %}
    <form action="{% url 'registration:follow' user.username %}" method="POST">
        <button type="submit" id="follow">フォロー</button>
        {% csrf_token %}
    </form>
    {% endif %}
    {% endif %}
    <p>フォロー数:<a href="{% url 'registration:following_list' user.username %}" class="links">{{ following_num }}</a></p>
    <p>フォロワー数:<a href="{% url 'registration:follower_list' user.username %}" class="links">{{ followers_num }}</a></p>
</div>
{% for piece in piece_list %}
<div class="tweetbox">
    <ul class="topbar">
        <li>
            <a href="{% url 'registration:user_profile' username=piece.user %}">
                {{ piece.user }}
            </a>
        </li>
        <li>
            <p>{{ piece.created_at }}</p>
        </li>
    </ul>
    <h2 class="contents">{{ piece.title }}</h2>
    {% if piece.uploadedFile %}
        <figure class="contents">
            <figcaption>再生</figcaption>
            <audio controls src="/media/{{ piece.uploadedFile }}"></audio>
        </figure>
    {% endif %}
    <p class="contents">{{ piece.comment | linebreaksbr }}</p>
    <ul class="buttombar">
        <li>
            <a href="{% url 'comuse:detail' piece.pk %}">
                <i class="bi bi-eye-fill"></i>
            </a>
        </li>
        {% if request.user == piece.user %}
            <li>
                <a href="{% url 'comuse:delete' piece.pk %}">
                    <i class="bi bi-trash-fill"></i>
                </a>
            </li>
        {% endif %}
        {% include 'comuse/like.html' %}
        {% include 'comuse/bookmark.html' %}
    </ul>
</div>
{% endfor %}
<button class="blueback">
    <a href="{% url 'comuse:home' %}">
        ホームへ
    </a>
</button>
{% endblock %}