{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>タイムライン</h1>
{% if piece_list %}
    {% for piece in piece_list %}
    <div class="tweetbox">
        <ul class="topbar">
            <li>
                <a href="{% url 'registration:user_profile' username=piece.user %}">
                    投稿者:{{ piece.user }}
                </a>
            </li>
            <li style="width: 30%; margin: 0% 1%;">
                <p>作成日:{{ piece.created_at }}</p>
            </li>
        </ul>
        <h3 class="contents">タイトル:{{ piece.title }}</h3>
        {% if piece.uploadedFile %}
            <figure class="contents">
                <figcaption>メディアを再生</figcaption>
                <audio controls src="/media/{{ piece.uploadedFile }}"></audio>
            </figure>
        {% endif %}
        <p class="contents">{{ piece.caption | linebreaksbr }}</p>
        <ul class="bottombar">
            <li>
                <a href="{% url 'comuse:detail' piece.pk %}">
                    <i class="bi bi-eye-fill"></i>詳細
                </a>
            </li>
            {% include 'comuse/like.html' %}
            {% include 'comuse/bookmark.html' %}
        </ul>
    </div>
    {% endfor %}
    {% else %}
    <p>まだフォローしているユーザーの投稿はありません。</p>
    {% endif %}
{% endblock %}