{% if is_bookmarked or piece.id in user_bookmark_list %}
    <div class="minibuttons">
        <button id="piece-{{piece.id}}" class="likebmbutton" data-url="{% url 'comuse:deleteBookmark' piece.id %}" data-pk={{piece.pk}}
            data-is-bookmarked="true">
            <i class="bi bi-bookmark-fill"></i>
        </button>
        <p>ブックマーク解除</p>
    </div>
{% else %}
    <div class="minibuttons">
        <button id="piece-{{piece.id}}" class="likebmbutton" data-url="{% url 'comuse:bookmark' piece.id %}" data-pk={{piece.pk}}
            data-is-bookmarked="false">
            <i class="bi bi-bookmark"></i>
        </button>
        <p>ブックマーク追加</p>
    </div>
{% endif %}
