<button type="button" id="comment_button" class="colored">コメント</button>
<div id="comment_form_container" style="display: none;">
    <form action="{% url 'comuse:comment' piece.pk %}" method="POST">
        <div>
            <span id="comment_form">{{ comment_form.content }}</span>
            {% for error in field.errors %}
                <p class="errorlist">{{ error }}</p>
            {% endfor %}
            {% csrf_token %}
        </div>
        <button type="submit" class="colored">投稿</button>
    </form>
</div>