{% extends "base.html" %}

{% block title %}楽曲の投稿{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p style="color: red;">タイトル(必須): {{ form.title }}</label>
    <p>楽曲ファイル(任意): {{ form.uploadedFile }}</label></p>
    <p style="color: red;">コメント(必須): {{ form.comment }}</label></p>
    {% for error in field.errors %}
        <p style="color: red;">エラー:{{ error }}</p>
    {% endfor %}
    <div class="buttonCover"><button type="submit" class="blueback">投稿</button></div>
</form>
{% endblock %}