{% extends "base.html" %}

{% block title %}楽曲の投稿{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p style="color: orange;">タイトル(必須): {{ form.title }}</label>50字まで</p>
    <p>楽曲ファイル(任意): {{ form.uploadedFile }}</label></p>
    <p style="color: orange;">キャプション(必須): {{ form.caption }}</label>1000字まで</p>
    <p>リプライの許可: {{ form.commentAllowance }}</label></p>
    {% for error in field.errors %}
        <p style="color: orange;">{{ error }}</p>
    {% endfor %}
    <div class="buttonCover"><button type="submit" class="blueback">投稿</button></div>
</form>
{% endblock %}