{% extends "base.html" %}

{% block title %}楽曲の投稿{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p class="necessary">タイトル(必須): {{ form.title }}</label>50字まで</p>
    <p>楽曲ファイル(任意): {{ form.uploadedFile }}</label></p>
    <p class="necessary">キャプション(必須): <span style="font-size: 2rem;">{{ form.caption }}</span></label>1000字まで</p>
    <p>コメントの許可: {{ form.commentAllowance }}</label></p>
    {% for error in field.errors %}
        <p class="errorlist">{{ error }}</p>
    {% endfor %}
    <div class="buttonCover"><button type="submit" class="colored">投稿</button></div>
</form>
{% endblock %}
