{% extends "base.html" %}

{% block title %}投稿詳細{% endblock %}

{% block content %}
<h2>タイトル:{{ piece.title }}</h2>
<p>投稿者:{{ piece.user }}</p>
<p>投稿日:{{ piece.created_at }}</p>
{% if piece.uploadedFile %}
    <figure class="contents">
        <figcaption>メディアを再生</figcaption>
        <audio controls src="/media/{{ piece.uploadedFile }}"></audio>
    </figure>
{% endif %}
<p>{{ piece.caption }}</p>
{% if piece.commentAllowance %}
<button type="button" id="comment_button" class="blueback">返信</button>
<div id="comment_form_container" style="display: none;">
    <form action="{% url 'comuse:comment' piece.pk %}" method="POST">
        <div>
            <span id="comment_form">{{ comment_form.content }}</span>
            {% for error in field.errors %}
                <p style="color: orange;">{{ error }}</p>
            {% endfor %}
            {% csrf_token %}
        </div>
        <button type="submit" class="blueback">コメント</button>
    </form>
</div>
<div>
    {% for comment in piece.comments.all %}
    <div class="comment_content">
        <p>{{ comment.user }} : {{ comment.content }}</p>
    </div>
    {% endfor %}
</div>
{% else %}
<p>作者はコメントを許可していません</p>
{% endif %}
<p></p>
{% if piece.user == request.user %}
<a href="{% url 'comuse:delete' piece.pk %}" class="buttonCover">
    <button type="button" class="blueback">投稿を削除</button>
</a>
{% endif %}
<a href="{% url 'comuse:home' %}" class="buttonCover">
    <button type="button" class="whiteback">ホームへ</button>
</a>

{% endblock %}
