{% if is_liked or piece.id in user_like_list %}
    <div class="minibuttons">
        <button id="piece-{{piece.id}}" class="likebmbutton" data-url="{% url 'comuse:unlike' piece.id %}" data-pk={{piece.pk}}
            data-is-liked="true">
            <i class="bi bi-heart-fill"></i>
        </button>
        <p>いいね解除</p>
    </div>
{% else %}
    <div class="minibuttons">
        <button id="piece-{{piece.id}}" class="likebmbutton" data-url="{% url 'comuse:like' piece.id %}" data-pk={{piece.pk}}
            data-is-liked="false">
            <i class="bi bi-heart"></i>
        </button>
        <p>いいね！</p>
    </div>
{% endif %}

<span id="count_{{piece.id}}" alt="いいねの数">いいね数:{{ piece.likes.count }}</span>
