:root {
    --bgcolor: #ddd;
    --txcolor: #000;
    --accolor: saddlebrown;
    --subaccolor: wheat;
}
@media (prefers-color-scheme: dark) {
    :root {
      --bgcolor: #000;
      --txcolor: #ddd;
      --accolor: orange;
      --subaccolor: rgb(60, 54, 44);
    }
}
body {
    color: var(--txcolor);
    background-color: var(--bgcolor);
    transition: .5s;
}

header {
    display: flex;
}

a {
    color: fuchsia;
}

#logo {
    width: 30%;
    margin: 12px;
    padding: 4px;
    font-size: 24pt;
    color: var(--accolor);
}

button {
    font-size: 16pt;
    padding: 4px;
    margin: 12px;
    border-radius: 4px;
}

.top {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.topbuttons {
    min-width: min(100px, 100%);
    height: fit-content;
}

.blueback {
    background: var(--accolor);
    border: 2px solid var(--accolor);
    color: var(--bgcolor);
}

.whiteback {
    background: var(--bgcolor);
    border: 2px solid var(--accolor);
    color: var(--txcolor);
}

.redback {
    background: rgb(255, 0, 0);
    border: 2px solid red;
    color: #ddd;
}

.tweetbox {
    margin: 2em 0;
    background: var(--bgcolor);
}

.tweetbox p {
    height: min-content;
    margin: 0;
    padding: 0 20px;
}

.tweetbox .topbar {
    margin: 0;
    display: flex;
    list-style: none;
    font-size: 20px;
    align-items: center;
    padding: 8px 20px;
    background: var(--subaccolor);
    color: var(--txcolor);
    border: solid 2px var(--accolor);
    border-radius: 8px 8px 0 0;
}

.tweetbox .contents {
    padding: 16px 20px;
    margin: 0;
    height: max-content;
    border-left: solid 2px var(--accolor);
    border-right: solid 2px var(--accolor);
}

.tweetbox .buttombar {
    margin: 0;
    display: flex;
    list-style: none;
    font-size: 20px;
    align-items: center;
    padding: 8px 20px;
    background: var(--subaccolor);
    border: solid 2px var(--accolor);
    border-radius: 0 0 8px 8px;
}

.tweetbox .bi {
    padding: 0 8px 0 0;
}

.bi.bi-trash-fill {
    color: red;
}

#profmid {
    margin: 0px;
    padding: 0;
    display: flex;
    align-items: center;
}

#profmid p {
    margin: 4px;
}

.like_btn {
    border: none;
    padding: 2;
    margin: 2;
    width: fit-content;
    background-color: var(--txcolor);
}

.bookmark_btn {
    border: none;
    padding: 2;
    margin: 2;
    width: fit-content;
    background-color: var(--txcolor);
}

.bi.bi-heart {
    color: magenta;
}

.bi.bi-heart-fill {
    color: magenta;
}

.bi.bi-bookmark {
    color: green;
}

.bi.bi-bookmark-fill {
    color: green;
}

.welcomeText {
    display: inline-block;
    padding: 10px 20px;
}
.welcomeTitle {
    text-align: center;
    padding: 150px;
    background-image: url(../img/welcomeBG.jpeg);
    background-size: cover;
}