header {
    display: flex;
}

a {
    text-decoration: none;
}

#logo {
    width: 30%;
    margin: 4px 0;
    font-size: 16pt;
    color: rgb(0, 132, 255);
}

button {
    font-size: 12pt;
    padding: 4px;
    margin: 0 4px;
    border-radius: 4px;
}

.top {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.topbuttons {
    width: fit-content;
}

.blueback {
    background: rgb(0, 132, 255);
    border: none;
    color: white;
}

.whiteback {
    background: whitesmoke;
    border: none;
    color: rgb(0, 132, 255);
}

.redback {
    background: rgb(196, 39, 0);
    border: none;
    color: white;
}

#usericon {
    text-decoration: none;
    font-size: 12pt;
    padding: 4px 4px;
    margin: 0 4px;
    color: rgb(0, 132, 255);
}

.tweetbox {
    margin: 2em 0;
    background: #ffffff;
}

.tweetbox p {
    height: min-content;
    margin: 0;
    padding: 0 20px;
}

.tweetbox .topbar {
    margin: 0;
    display: flex;
    list-style: none;
    font-size: 16px;
    align-items: center;
    padding: 8px 20px;
    background: #e7eaed;
    color: #000000;
    border: solid 2px #bbc9cd;
    border-radius: 8px 8px 0 0;
}

.tweetbox .contents {
    padding: 16px 20px;
    margin: 0;
    height: max-content;
    border-left: solid 2px #bbc9cd;
    border-right: solid 2px #bbc9cd;
}

.tweetbox .buttombar {
    margin: 0;
    display: flex;
    list-style: none;
    font-size: 16px;
    align-items: center;
    padding: 8px 20px;
    background: #e7eaed;
    border: solid 2px #bbc9cd;
    border-radius: 0 0 8px 8px;
}

.tweetbox .bi {
    padding: 0 8px 0 0;
}

.bi.bi-plus-square {
    color: rgb(0, 221, 196);
    font-size: 20pt;
}

.bi.bi-trash-fill {
    color: rgb(255, 0, 0);
}

#profmid {
    margin: 0px;
    padding: 0;
    display: flex;
    align-items: center;
}

#profmid p {
    margin: 4px;
}

#unfollow {
    background: white;
    border-color: red;
    color: red;
}

#follow {
    background: white;
    border-color: blue;
    color: blue;
}

.links {
    color: rgb(32, 0, 156);
    margin: 8px;
}

.like_btn {
    border: none;
    padding: 0;
    width: 20px;
    background-color: rgba(255, 255, 255, 0);
}

.bookmark_btn {
    border: none;
    padding: 0;
    width: 20px;
    background-color: rgba(255, 255, 255, 0);
}

.bi.bi-heart {
    color: rgb(234, 0, 255);
}

.bi.bi-heart-fill {
    color: rgb(234, 0, 255);
}

.bi.bi-bookmark {
    color: rgb(0, 91, 32);
}

.bi.bi-bookmark-fill {
    color: rgb(0, 91, 32);
}
